@import 'variables';

.calculating {
  // Making calculator, calculating, result boxes same height;
  height: calc(#{$box-height} - (#{$box-padding} * 2));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    width: 14rem;
    color: $clr-secondary-1;
    animation: rotate 3.5s infinite linear;
  }

  &__text {
    color: $clr-secondary-1;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 3rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
