@import 'variables';

.copyright {
  position: absolute;
  bottom: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    width: 65ch;
    text-align: center;
    color: $clr-primary-2;
    font-weight: 600;

    @media only screen and (max-width: $bp-largest) {
      color: $clr-primary-1;
      font-size: 1.1rem;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 50ch;
    }
  }

  &__link:link,
  &__link:visited,
  &__link:active {
    color: $clr-primary-2;

    @media only screen and (max-width: $bp-largest) {
      color: $clr-primary-1;
    }
  }

  &__icons {
    display: flex;
    gap: 1rem;
  }

  &__icon {
    width: 2rem;
  }
}
