@import 'variables';

.result {
  // Making calculator, calculating, result boxes same height;
  height: calc(#{$box-height} - (#{$box-padding} * 2));

  display: none; // will be changed to flex when result is rendered
  flex-direction: column;

  &__text {
    font-size: 2.5rem;
    color: $clr-secondary-1;
  }

  &__bmi {
    font-size: 7rem;
    font-weight: 900;
  }

  &__btn {
    width: 100%;
    margin-top: auto;
  }
}

.healthy {color: $clr-healthy}
.warning {color: $clr-warning}
.bad {color: $clr-bad}
