//$ Colors ----------------------------------

//* Primary
$clr-primary-1: #49126d;
$clr-primary-2: #47126bce;

//* Secondary
$clr-secondary-1: #14213e;
$clr-secondary-2: #0e579c;
$clr-secondary-3: #a9d6e5;
$clr-secondary-4: #f4f8fb;

//* White
$clr-white-1: #ffffff;

//* Approved
$clr-approved-dark: #38b000;
$clr-approved-light: #f0fff1;

//* Error
$clr-error-dark: #f50f0f;
$clr-error-light: #fae0e4;

//* Health levels
$clr-thin-dark: #8b0005;
$clr-thin-light: #ff1e1e;

$clr-healthy-dark: #25a244;
$clr-healthy-light: #92e6a7;

$clr-overweight-dark: #faa700;
$clr-overweight-light: #fae588;

$clr-obese1-dark: #f42b03;
$clr-obese1-light: #faa307;

$clr-obese2-dark: #780116;
$clr-obese2-light: #f52f57;

$clr-obese3-dark: #8b0005;
$clr-obese3-light: #ff1e1e;

//$ Fonts ----------------------------------
$font-primary: 'Varela Round', sans-serif;
