//$ Colors ----------------------------------

//* Primary
$clr-primary-1: #033270;
$clr-primary-2: #01163259;
$clr-primary-3: #1b4965;
$clr-primary-4: #afdbe9;
$clr-primary-5: #f4f8fbbe;
$clr-primary-6: #011632;

$clr-firefox-fix: #102b3c;

//* Secondary
$clr-secondary-1: #422258;
$clr-secondary-2: #341b46;
$clr-secondary-3: #42225885;

//* White
$clr-white-1: #ffffff;

//* Approved / Error
$clr-approved: #39b300;
$clr-error: #f50f0f;

//* Health categories
$clr-healthy: #39b300;
$clr-warning: #faa700;
$clr-bad: #ff1f1f;

//$ Fonts ----------------------------------
$font-primary: 'Varela Round', sans-serif;

//$ Responsive breakpoints ----------------------------------

//* Width
$bp-largest: 31.875em;
$bp-biggest: 30em;
$bp-medium: 27.75em;
$bp-smallest: 21.875em;
$bp-tiniest: 20em;

//* Height
$bp-h-largest: 38em;
$bp-h-smallest: 38em;

//$ Box height ----------------------------------
$box-height: 49.74rem;
$box-padding: 6rem;
