//$ Colors ---------------

//* Primary
$clr-primary-1: #203a43;
$clr-primary-1--darker: #1a2e36;
$clr-primary-1--lighter: #89b0ae;
$clr-primary-2: #89b0ae;
$clr-primary-3: #1f394173;

//* Gradient colors
$clr-gradient-1: #0f2027;
$clr-gradient-2: #203a43;
$clr-gradient-3: #2c5364;

//* White
$clr-white-1: #ffffff;
$clr-white-2: #f4f8fbbe;

//* Approved / Error
$clr-approved: #39b300;
$clr-error: #f50f0f;

//* Health categories
$clr-healthy: #39b300;
$clr-warning: #faa700;
$clr-bad: #ff1f1f;

//$ Fonts ---------------
$font-primary: 'Varela Round', sans-serif;

//$ Responsive breakpoints ---------------

//* Width
$bp-largest: 31.875em;
$bp-biggest: 30em;
$bp-medium: 27.75em;
$bp-smallest: 21.875em;
$bp-tiniest: 20em;

//* Height
$bp-h-largest: 38em;
$bp-h-smallest: 38em;

//$ Box height ---------------
$box-height: 49.74rem;
$box-padding: 6rem;
